a:hover{
	text-decoration: none;
}

body{
	color: #4c4c4c;
	background-color: #eeeeee;
}

body, body a{
	font-family: "Ubuntu", YakuHanJP, YuGothic, sans-serif;
}




/*header*/

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1120px;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	z-index: 1000;
	background-color: #ffffff;
	-webkit-transform: translateZ(0);
}
header .container {
	position: relative;
	width: auto;
	max-width: 1360px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}
header .logo a{
	display: block;
	overflow: hidden;
}
header .logo a:hover .animation{
	-webkit-animation: play 1s steps(8) infinite;
	animation: play 1s steps(8) infinite;
}
header .logo .pull-left{
	float: left;
}
header .logo .pull-left.animation{
	display: block;
	width: 54px;
	height: 32px;
	background: url(../images/pict_logo01.png);
}
header .logo{
	position: absolute;
	left: 32px;
	top: 50%;
	margin-top: -16px;
}
header .navbar{
	position: absolute;
	margin: 0;
	right: 47px;
	top: 50%;
	margin-top: -16px;
}
header ul{
	position: relative;
	display: inline-block;
}
header ul li{
	position: relative;
	display: inline-block;
	margin-left: 32px;
	line-height: 100%;
}
header ul.striped::before{
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	right: -20px;
	height: 18px;
	border-right: solid 1px #999999;
}
header ul.striped::after{
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	left: 20px;
	height: 18px;
	border-right: solid 1px #999999;
}
header ul li a{
	color: #4C4C4C;
	font-size: 22px;
	font-family: "Slabo 27px", serif;
	line-height: 100%;
	padding-bottom: 13px;
	cursor: pointer;
}
header ul li a svg{
	position: relative;
	top: -3px;
}

.mega-drop{
	position: fixed;
	top: 4.5em;
	padding: 10px 0;
	background: #ffffff;
	z-index: 10003;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.35);
    animation: 1s ease;
}

.mega-drop.drop-position1{
	display: none;
	left: 50%;
	margin-left: -230px;
}

.mega-drop.drop-position2{
	display: none;
	left: 50%;
	margin-left: -260px;
}

.mega-drop.drop-position2 ul{
	width: 735px;
}

.mega-drop.drop-position3{
	display: none;
	left: 50%;
	margin-left: -30px;
}

.mega-drop.drop-position4{
	display: none;
	left: 50%;
	margin-left: -38px;
}

.mega-drop.drop-position4 ul{
	width: 490px;
}

.mega-drop.drop-position5{
	display: none;
	left: 50%;
	margin-left: 178px;
}

.mega-drop.drop-position6{
	display: none;
	left: 50%;
	margin-left: 268px;
}

.mega-drop.drop-position7{
	display: none;
	left: 50%;
	margin-left: 128px;
}

.mega-drop.drop-position7 ul{
	width: 490px;
}

.mega-drop ul{
	width: 245px;
	margin-bottom: 0;
	padding-left: 0;
	background: #ffffff;
}

.mega-drop ul li{
	width: 245px;
	height: 66px;
	margin-left: 0;
	list-style: none;
}

.mega-drop ul li{
	display: inline-block;
	vertical-align: top;
}

.mega-drop ul li a{
	display: block;
	width: 100%;
	padding: 0 18px;
	color: #4C4C4C;
}

.mega-drop ul li a span{
	display: block;
	width: 100%;
	padding: 10px 0 0;
	height: 66px;
}

.mega-drop ul li a span.small{
	padding: 10px 0 0;
}

.mega-drop ul li a span.big{
	padding: 22px 0 0;
}

.mega-drop ul li a strong{
	font-size: 16px;
}

.mega-drop ul li a i{
	font-size: 11px;
	line-height: 1.5;
	margin-top: 0.3em;
	font-style: italic;
	color: rgba(76,76,76,0.7);
}

.mega-drop .border-dot{
	border-bottom: 1px dotted rgba(76,76,76,0.7);
}

.mega-drop .right-border{
	border-right: 1px dotted rgba(76,76,76,0.7);
}


/*content*/

h2{
	line-height: 1em;
	margin-top: 32px;
	font-size: 26px;
	font-weight: bold;
}

.carousel{
	width: 100%;
	overflow: hidden;
	transition: opacity 1000ms ease;
}

.carousel .carousel-caption{
	position:  absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.carousel-bottom{
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0;
	bottom: 0;
	background:rgba(0, 0, 0, 0.5);
	z-index: 10;
	transition: opacity 1000ms ease;
}

.carousel-bottom .float-left h3,
.carousel-bottom .float-right p{
	margin-bottom: 0;
	line-height: 50px;
}

.carousel-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background:rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: opacity 1000ms ease;
}

.carousel-cover a{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
}

.carousel-cover a span{
	position: absolute;
	display: block;
	width: 600px;
	top: 30%;
	left: 50%;
	margin-left: -300px;
	text-align: left;
}

.carousel-cover a span .title{
	font-size: 32px;
	font-weight: bold;
}

.col-md-6 .news-item{
	position: relative;
	background: #ffffff;
	padding: 32px;
	margin-top: 16px;
}

.col-md-6 .news-item .news-content{
	position: relative;
	z-index: 3;
}

.col-md-6 .news-item:hover{
	background: url(../images/pict_bg01.png);
	background-size: 5px 5px;
}

.col-md-6 .news-item:hover:before{
	content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background-color: #fff;
    z-index: 0;
}

.col-md-6 .news-item:hover .date,
.col-md-6 .news-item:hover .title{
	color:#33c8ff;
}

.news-item .image-wrap{
	position:  relative;
	margin-bottom: 32px;
	padding-bottom: 56.25%;
	overflow: hidden; 
}

.news-item .image-wrap .image{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.news-item .date{
	font-size: 20px;
	font-style: italic;
	line-height: 1;
}

.news-item .title{
	overflow: hidden;
	max-height: 4.5em;
	margin-top: 10px;
	font-size: 32px;
	line-height: 1.5;
	font-weight: bold;
}

.news-item ul{
	position: absolute;
	padding-left: 0;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
}

.news-item ul a{
	color: #4c4c4c;
	position: relative;
	top: 1px;
	font-size: 12px;
}

.news-item ul a:hover{
	text-decoration: underline;
}

.news-item ul li{
	display: inline-block;
}

.news-item ul li.colored{
	font-style: italic;
}

.news-item a.link-cover{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.news-item ul .margin-alter li{
	position: relative;
	padding-right: 1em;
}

.news-item ul .margin-alter li:after{
	display: block;
	position: absolute;
	top: 3px;
	right: 0;
	content: "/";
}

.news-item ul .pickup{
	margin-right: 4px;
	padding: 1px 4px; 
	border: #ff6666 2px solid;
	color: #ff6666;
	font-size: 10px;
	font-weight: bold;
}

.news-list{
	width: 250px;
	margin: 50px auto;
}

.news-list a{
	display: block;
	padding: 16px 32px;
	color: #ffffff;
	font-weight: bold;
	background: #1b9af7;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}

.news-list a:hover{
	background: #007ed9;
}



/*footer*/


.footer{
	width: 100%;
	height: 90px;
	background: #ffffff;
}

.footer .footer-inner{
	width: 90%;
	margin: 0 auto;
}

.footer .footer-inner ul{
	display: table-cell;
	vertical-align: middle;
	padding-left: 0;
	height: 90px;
}

.footer .footer-inner ul li{
	display: inline-block;
	margin-right: 24px;
}

.footer .footer-inner ul li a{
	color: #000;
	font-weight: bold;
	font-size: 12px;
}

.footer .footer-inner ul li a:hover{
	color: #1b9af7;
}

.footer .footer-inner .facebook-svg{
	width: 11px;
	height: 30px;
}

.footer .footer-inner .facebook-svg:hover{
	fill: #395590;
	transition: ease 0.5s;
}

.footer .footer-inner .twitter-svg{
	width: 20px;
	height: 30px;
}

.footer .footer-inner .twitter-svg:hover{
	fill: #368ECE;
	transition: ease 0.5s;
}

.footer .footer-inner .youtube-svg{
	width: 30px;
	height: auto;
}

.footer .footer-inner .youtube-svg:hover{
	fill: #e62d27;
	transition: ease 0.5s;
}



/*components*/

.margin-left-40{
	margin-left: 40px !important;
}
.padding-horizon-15{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.container-fluid.padding-top-100{
	padding-top:  100px;
}

.padding-0{
	padding: 0 !important;
}


.border-none{
	border: 0 !important;
}

.noafter:after{
	display: none !important;
}

.font-azure{
	color: #33c8ff !important;
}

.font-green{
	color: #49e845 !important;
}

.font-orange{
	color: #fc880f !important;
}

.font-purple{
	color: #7275e9 !important;
}

.font-pink{
	color: #ff599f !important;
}
.font-magenta{
	color: #cf57fb !important;
}
.big-box{
	height: 568px;
}

.small-box{
	height: 244px;
}
.pcdisplay{
	display: block !important;
}
.pcdisplayblock{
	display: inline-block !important;
}
.pcdisplayinitial{
	display: initial !important;
}
.spdisplay{
	display: none !important;
}
.overflowhidden{
	overflow: hidden !important;
}
.cover{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 600;
	background: rgb(0,0,0,0.3);
	transition: all ease 1s;
}
.cover2{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 850;
	background: rgb(0,0,0,0.3);
	transition: all ease 1s;
}
.cover3{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 300;
}
.blocktoggle{
	display: block;
}
.changechannel{
	position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 222px;
    height: 365px;
    margin-left: -111px;
    margin-top: -182.5px;
    padding-left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.35);
	z-index: 900;
}
.changechannel li{
	height: 72px;
	text-align: center;
	list-style: none;
	border-bottom: solid 1px #f3f3f3;
}
.changechannel li img{
	margin-top: 13px;
}
.changechannel li p{
	font-size: 14px;
	font-style: italic; 
}
.changechannel li.last{
	border-bottom: none;
}

@media screen and (max-width: 1000px) {

	h2{
		margin-top: 40px;
		font-size: 20px;
	}
	.spfull{
		padding-left: 0;
		padding-right: 0;
	}
	.sprow{
		margin-left: 0;
		margin-right: 0;
	}
	.col-md-6 .news-item{
		padding: 15px;
	}
	.news-item .image-wrap{
		float: right;
		width: 130px;
		padding-bottom: 130px;
		margin-bottom: 0;
		margin-left: 10px;
	}
	.news-item .date{
		font-size: 11px;
		margin-bottom: 0;
	}
	.news-item .title{
		font-size: 16px;
    	line-height: 1.38;
    	font-weight: bold;
    	max-height: 5.52em;
    	margin-top: 5px;
    	overflow: hidden;
	}
	.big-box{
		height: auto;
	}
	.small-box{
		height: 130px;
	}
	.news-item ul{
		height: 24px;
	}
	.news-item ul .pickup{
		line-height: 1;
		margin-right: 0;
	}
	.news-item ul a{
		font-size: 10px;
	}
	.news-item ul .margin-alter li:after{
		display: none;
	}
	.news-item ul .margin-alter li{
		padding-right: 0;
	}
	.spnewswrapper{
		position: relative;
		height: 130px;
		overflow: hidden;
	}
	.pcdisplay{
		display: none !important;
	}
	.pcdisplayblock{
		display: none !important;
	}
	.pcdisplayinitial{
		display: none !important;
	}
	.spdisplay{
		display: block !important;
	}
	.col-md-6 .news-item:hover{
		background: none;
	}
	.news-item a.link-cover:focus{
		background: rgb(51,200,255,0.3);
	}
	.col-md-6 .news-item:hover .date,
	.col-md-6 .news-item:hover .title{
		color:#4c4c4c;
	}
	.spdisplay .hamburger{
		padding: 15px 15px 10px 15px;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
		width: 32px !important;
		height: 2px !important;
		border-radius: 0 !important;
		background: #4c4c4c !important;
	}
	.hamburger:focus{
		outline: none;
	}
	header{
		height: 56px;
		-webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
	    box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
	    -webkit-transition: -webkit-transform 0.1s;
	    transition: -webkit-transform 0.1s;
	    transition: transform 0.1s;
	    transition: transform 0.1s, -webkit-transform 0.1s;
	    min-width: auto;
	}
	.sidebar{
		display: block;
		position: fixed;
		height: 2000px;
	    z-index: 800;
		left: -500px;
		top: 56px;
		width: 270px;
		background: #fff;
		transition: all ease 0.5s;
	}
	.sidebar.leftsidebar{
		left: 0;
	}
	.sidebar ul{
		padding-left: 0;
	}
	.sidebar li{
		list-style: none;
	}
	.sidebar a{ 
		display: block;
	    text-decoration: none;
	    padding: 20px 24px;
	    line-height: 1;
	    color: inherit;
	    font-size: 24px;
	    color: #4c4c4c;
	}
	.sidebar .sideborder{
		border-bottom: solid 1px #eeeeee;
	}
	.sidebar ul li form{
		position: relative;
	}
	.sidebar ul li form input{
		display: block;
	    width: 100%;
	    height: 65px;
	    margin: 0px;
	    border: none;
	    outline: none;
	    font-size: 16px;
	    background: none;
	    padding: 0 16px 0 64px;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.sidebar ul li form button{
		position: absolute;
		width: 64px;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		background: #ffffff;
	}
	.sidebar ul li form button svg{
		width: 26px;
	}
	.container-fluid.padding-top-100{
		padding-top: 56px;
	}
	.d-none{
		display: block !important;
	}
	.carousel-bottom .float-left p, 
	.carousel-bottom .float-right p{
		font-size: 11px;
		line-height: normal;
		text-align: left;
	}
	.carousel-bottom{
		padding: 14px 0;
		background: #666666;
	}
	.carousel-bottom .float-left p{
		margin-bottom: 0;
	}
	.carousel-bottom .float-left h3{
		font-weight: bold;
		font-size: 13px;
		line-height: normal;
		text-align: left;
	}
	.carousel-item{
		height: 207.03px;
	}
	.change{
		position: absolute;
	    top: 8px;
	    right: 8px;
	    width: 50px;
	    height: 38px;
	    margin: 0 auto;
	    cursor: pointer;
	    background-image: url(../images/pict_bg02.png);
	    background-size: 100% 100%;
	    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	    transition: -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,-webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	}
	.rotate{
		transform: rotate(180deg);
	}
	.footer{
		overflow: hidden;
		height: auto;
		padding-top: 20px;
	}
	.footer .footer-inner .float-left,
	.footer .footer-inner .float-right{
		float: none !important;
		width: 100%;
	}
	.footer .footer-inner .float-left ul li{
		width: 49%;
		margin-right: 0;
		text-align: center;
		min-height: 48px; 
	}
	.footer .footer-inner ul{
		display: block;
		width: 100%;
	}
	.footer .footer-inner .float-right ul li{
		width: 32%;
		margin-right: 0;
		text-align: center; 

	}
	.footer .footer-inner .float-right ul{
		width: 80%;
		height: auto;
		min-height: 60px;
		margin: 0 auto;
	}

}
@media screen and (max-width: 380px) {
	.carousel-item{
		height: 184.03px;
	}
}


@-webkit-keyframes play{from{background-position:0 0}to{background-position:0 -256px}}
@keyframes play{from{background-position:0 0}to{background-position:0 -256px}}